.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  